
/* Colours */
.bg-dark {
    background-color: #333333!important;
}
.text-light {
    color: #9A9DA0!important;
}
.banner-dark {
    background-color: #101010!important;
}
.cta-overlay {
    width: 100%;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.9) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.9) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6000000', endColorstr='#e6000000',GradientType=0 );
    cursor: pointer;
}
.cta-overlay .border {
    width: 90%;
    height: 90%;
    transition: 2s;
}
.cta-overlay:hover .border {
    width: 60%;
    height: 60%;
    transition: 2s;
}

/* Generic */
h1, h2, h3, .h1, .h2, .h3 {
	font-family: 'Merienda One', cursive!important;
    color: #ffffff;
}
body {
	font-family: 'Ubuntu', sans-serif;
    color: #9A9DA0;
    background-color: #000;
}
.text-nodecoration:hover {
	text-decoration: none;
}
.img-zoom-hover {
    object-fit: none;
    object-position: 50% 65%;
    height: auto;
    width: 100%;
    overflow: hidden;
}
.img-zoom-hover img {
    transition: transform .8s;
    /* cursor: pointer; */
}
.img-zoom-hover img:hover {
    transform: scale(1.1);
    transition: transform .8s;
}

/* Header */
.navbar-brand {
    font-size: 1.8rem;
	font-family: 'Merienda One', cursive!important;
}

/* Home Page */
.home-img-1, .home-img-2, .home-img-3 {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
}
.home-img-1 {
    background-image: url(/portfolio/img/webdesign/topteks-home.png);
    background-position: center top;
    background-size: cover;
}
.home-img-2 {
    background-image: url(/portfolio/img/photography/topteks-home.png);
    background-position: center center;
    background-size: cover;
}
.home-img-3 {
    background-image: url(/portfolio/img/visualarts/topteks-home.png);
    background-position: center center;
    background-size: cover;
}

/* Web Design */

.webdesign .mainimage {
    max-height: 275px;
    overflow: hidden;
    position: relative;
}
.webdesign .mainimage .cta-overlay {
    position: absolute;
    top: 0;
    height: 100%;
	opacity:0;
	transition: 1s;
}
.webdesign .mainimage:hover .cta-overlay {
	opacity:1;
	transition: 1s;
    cursor: zoom-in;
}
.webdesign .mainimage:hover .cta-overlay div {
    width: 90%;
}
.webdesign .cta-overlay div, .webdesign .cta-overlay:hover div {
	padding: 10%;
}
.web .modal-dialog {
    margin: 0% 0% 0% 40%;
    max-width: 100%;
}
.modal.web {
    cursor: zoom-out;
    padding-right: 0px!important;
background: -moz-linear-gradient(top,  rgba(51,51,51,0.8) 0%, rgba(51,51,51,0.8) 100%);
background: -webkit-linear-gradient(top,  rgba(51,51,51,0.8) 0%,rgba(51,51,51,0.8) 100%);
background: linear-gradient(to bottom,  rgba(51,51,51,0.8) 0%,rgba(51,51,51,0.8) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc333333', endColorstr='#cc333333',GradientType=0 );
}
.web .modal-body {
    background: #333333;
}
.web .modal-content {
    border-radius: 0;
    cursor: auto;
}
.web .modal-header {
    border-radius: 0;
    border-bottom: none;
}

/* Photograghy */

/* Visual Arts */
.masonry {
  column-count: 4;
  column-gap: 1em;
}
.masonry .filterDiv {
	display: none;
    position: relative;
}
.masonry .filterDiv.show {
	display: block;
	margin: 0 0 1em;
	width: 100%;
}
#myBtnContainer .btn {
    border-bottom: 1px solid #ffffff;
    border-top: none;
    outline: none;
    padding: 12px 16px;
    background: transparent;
    cursor: pointer;
    border-radius: 0px;
    color: white;
    margin: 0% 1%;
	transition: background 2s;
	position: relative;
}
#myBtnContainer .btn.active, #myBtnContainer .btn:hover {
	background: -moz-linear-gradient(top, rgba(154,157,160,0) 0%, rgba(77,79,80,0.5) 100%);
    background: -webkit-linear-gradient(top, rgba(154,157,160,0) 0%,rgba(77,79,80,0.5) 100%);
    background: linear-gradient(to bottom, rgba(154,157,160,0) 0%,rgba(77,79,80,0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009a9da0', endColorstr='#4d4f50',GradientType=0 );
	content:'';
}
.filterDiv .cta-overlay {
    position: absolute;
    top: 0;
    height: 100%;
	opacity:0;
	transition: 1s;
}
.filterDiv:hover .cta-overlay {
	opacity:1;
	transition: 1s;
}

/* My Profile */
.circle-wrap {
  margin: 50px auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
	/* box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2) inset; */
}
.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}
.circle-wrap .circle .mask .fill {
  clip: rect(0px, 150px, 150px, 0px);
  background-color: #6900b0;
}
.circle-wrap .inside-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #000;
  line-height: 130px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
}
.circle-wrap .circle .mask.half:nth-of-type(2) {
	animation: fill ease-in-out 3s;
    transform: rotate(0deg);
}
/*percent edits*/

.circle-wrap.p90 .circle .mask.half:nth-of-type(2) {
    transform: rotate(144deg);
}
.circle-wrap.p80 .circle .mask.half:nth-of-type(2) {
    transform: rotate(108deg);
}
.circle-wrap.p70 .circle .mask.half:nth-of-type(2) {
    transform: rotate(72deg);
}
.circle-wrap.p60 .circle .mask.half:nth-of-type(2) {
    transform: rotate(36deg);
}
.circle-wrap.p50 .circle .mask.half:nth-of-type(2) {
    transform: rotate(0deg);
}
@keyframes fill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}